@using StarWars.Model
@using Newtonsoft.Json
@page "/soldier/{id:int}"
@inject IConfiguration config
@inject IHttpClientFactory factory
<PageTitle>Soldier</PageTitle>
<h3>Soldier @Soldier.Name</h3>

<p>Attack : @Soldier.Attack</p>
<p>Max health : @Soldier.MaxHealth</p>
<p>Faction : @Soldier.SoldierType</p>

@code {
    [Parameter]
    public int Id { get; set; }
    private Soldier? Soldier { get; set; }


    protected override void OnInitialized()
    {
        // Méthode proposée par Microsoft pour Blazor Server
        var url = $"{config["SDK:url"]}/soldier/{Id}";
        var request = new HttpRequestMessage(HttpMethod.Get, url);
        var client = factory.CreateClient();
        var response = client.Send(request);

        if (response.IsSuccessStatusCode)
        {
            using var res = response.Content.ReadAsStringAsync();
            var obj = JsonConvert.DeserializeObject<Soldier>(res.Result);
            Soldier = obj;
        }
    }
}
